/* Please define your custom styles here */
.original-header-image {
  width: 25vw;
  height: 25vw;
}

.image-container {
  display: flex;
  justify-content: center;
}

.questionnaire {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.question {
  margin-bottom: 20px;
}

.question p {
  font-weight: bold;
}

.options {
  list-style: none;
  padding: 0;
}

.options li {
  margin: 5px 0;
}